# gentoo-config.conf
HOSTNAME="gentoobox"
USERNAME="vandros"
PASSWORD="password"
TIMEZONE="Europe/Helsinki"
KEYMAP="us colemak"
DISK="/dev/sda"
ROOT_PART="/dev/sda3"
EFI_PART="/dev/sda1"
SWAP_PART="/dev/sda2"
PROFILE="1" # Portage profile number
LOCALE="en_US.UTF-8 UTF-8"
STAGE3_URL="https://bouncer.gentoo.org/fetch/root/all/releases/amd64/autobuilds/20230705T183202Z/stage3-amd64-openrc-20230705T183202Z.tar.xz"
