# gentoo-config.conf              # EDIT ALL OF THESE, IF YOU DON'T KNOW ALL OPTIONS, DO NOT USE THE SCRIPT
HOSTNAME="king"                   # Hostname
USERNAME="based"                  # Username
PASSWORD="BasedWord420x"          # Root password
PASSWORD2="BasedWord420yz"        # User password
TIMEZONE="Europe/Helsinki"        # Timezone 
KEYMAP="us colemak"               # Keyboard layout
DISK="/dev/sda"                   # DISK
ROOT_PART="/dev/sda3"             # ROOT
EFI_PART="/dev/sda1"              # EFI
SWAP_PART="/dev/sda2"             # Swap
PROFILE="1"                       # Portage profile number
LOCALE="en_US.UTF-8 UTF-8"        # locale
STAGE3_URL="https://bouncer.gentoo.org/fetch/root/all/releases/amd64/autobuilds/20230705T183202Z/stage3-amd64-openrc-20230705T183202Z.tar.xz"
